# Virtual Environments
.venv/
venv/
ENV/
env/

# Python Cache & Build
__pycache__/
*.py[cod]
*$py.class

# Node dependencies (Frontend)
node_modules/
dist/

# Large weight files (if over 100MB)
*.pt
*.onnx